.content-container {
    background-color: #f5f5f5;
    padding: 20px; 
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.image-set {
    margin-bottom: 20px;
}

.image-set img {
    max-width: 100%; 
    height: auto;
    border-radius: 30px;
    border: solid black 2px;
}

.content{
    text-align: center;
}

.content p{
    margin-bottom: 30px;
}
